@font-face {
  font-family: 'Metrophobic';
  font-style: normal;
  font-weight: 400;
  src: local('Metrophobic'), url(font.woff) format('woff');
}

body{
    font-family: 'Metrophobic', sans-serif;
    width:100%;
    height:100%;
    position: absolute;
    overflow-x: hidden;
}

/*
HEADER STYLES
*/

h1{
    font-size: 50px;
}

#headerRight{
    position:absolute;
    width: calc(100% - 66px);
    height: 66px;
    background: #197165;
    margin-left:66px;
    -webkit-transition:background 2s; /* For Safari 3.1 to 6.0 */
    transition:background 2s;
}

#headerRight:hover {
    background: #21A342;
}



#menuCol{
    background-color: #4f4e4c;
    position:fixed;
    width:366px;
    height:100%;
    z-index: 100;
}

    #shadow{
        background: black;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

#menuButton {
    position: absolute;
    height: 66px;
    right: 0px;
    margin-top: 0;
}

    #menuButton svg {
        margin-top: 22px;
    }

    #menuButton:hover{
        background: #B2B2B2;
    }

#personalButton {
    position: absolute;
    height: 66px;
    right: 0px;
    margin-top: 66px;
}

    #personalButton svg {
        margin-top: 22px;
    }

    #personalButton:hover{
        background: #B2B2B2;
    }

#hobbyButton {
    position: absolute;
    height: 66px;
    right: 0px;
    margin-top: 132px;
}

    #hobbyButton svg {
        margin-top: 22px;
    }

    #hobbyButton:hover{
        background: #B2B2B2;
    }


.absolute{
    position:absolute;
}

.center {
    text-align: center;
}





#content{
    font-family: 'Metrophobic', sans-serif;
    position: absolute;
    width: calc(100% - 66px);
    margin-top: 66px;
    margin-left: 66px;
    display: inline;
    overflow-x:auto;
}


#backgroundOne{
    border-radius: 0px;
    background:#672f89;
    
    -webkit-transition:background 1s; /* For Safari 3.1 to 6.0 */
    transition:background 1s;
}

    #me{
        width: 240px;
        height: 240px;
        border-radius: 10px;
        margin-top: 20px;   
        margin-left: calc(50% - 136px);

            -webkit-animation: fadeIn 3s; /* Chrome, Safari, Opera */
            animation: fadeIn 3s;
    }

#backgroundOne:hover {
    background:#602462;   
}

#backgroundTwo{
    background:#333333;
}

#backgroundThree{
    background:#336699;
}

#backgroundFour{
    background: #209DA4;
}

#test{
    background:#602462; 
}










/*
EDITED BY JS!!!
*/

.fullHeight{
    
}

.halfHeight{
    
}

.quarterHeight{
    
}

.quarterWidth{
    
}

.threeQuarterHeight{
    
}

.threeQuarterWidth{
    
}

.fullWidth{
    
}

.halfWidth{
    
}

.hangR{
    float:right;
}

.hangL{
    float:left;
}